extends layout

block content

	if(preview)
		.text-right
			a.btn.btn-light(href='/blog') Exit preview
		br
	for val in projs
		.card
			if val.images
				img.card-img-top(src=val.images[0].uri, alt="project screenshot")

			.card-body
				h4.card-title #{val.title}
				small.blockquote-footer.text-right(class='r-date') #{val.updated || val.created}
				p.card-text !{val.desc}
				
			.card-footer.text-right
				a.card-link(href='javascript:void(0);' class=val.liked? '':'d-none' onclick='projunlike("' + val._id + '")') unlike
				a.card-link(href='javascript:void(0);' class=val.liked? 'd-none':'' onclick='projlike("'+ val._id +'")') like
				|  (
				strong  #{val.numOfLikes}
				|  people liked this)
				
		hr
	//- END for loop

block scripts
	script.
			function projlike(id){
				var span = event.target.nextElementSibling;
				var likebtn = event.target;
				var unlikebtn = likebtn.previousElementSibling;

				$.ajax({
						type: "POST",
						url: '/api/project/like/' + id,
						contentType: 'application/json',
						dataType: 'json',
						success: function (res) {			
							span.innerText = res.likes.length;
							likebtn.classList.add('d-none');
							unlikebtn.classList.remove('d-none');
						},
						error: function(res){
							console.log(res);
						}
					});
			}
			function projunlike(id){
				var span = event.target.nextElementSibling.nextElementSibling;
				var unlikebtn = event.target;
				var likebtn = unlikebtn.nextElementSibling;
				$.ajax({
						type: "POST",
						url: '/api/project/unlike/' + id,
						contentType: 'application/json',
						dataType: 'json',
						success: function (res) {			
							span.innerText = res.likes.length;
							likebtn.classList.remove('d-none');
							unlikebtn.classList.add('d-none');
						},
						error: function(res){
							console.log(res);
						}
					});
			}